services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped

  server:
    image: ghcr.io/billos/sparkleft:2.5.1
    command: ["start:server"]
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - redis
    restart: unless-stopped

  worker:
    image: ghcr.io/billos/sparkleft:2.5.1
    command: ["start:worker"]
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
